@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root     /*   Place to declare variables   */ 
{
    --content: 'Slider';
}

*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #252839;
}
p
{
    position: relative;
    font-size: 14vw;
    color: #01fe87;
    -webkit-text-stroke: 0.3vh #383d52;
    text-transform: uppercase;
}
p::before
{
    content: var(--content);
    position: absolute;
    width: 100%;
    height: 0%;
    color: #252839;
    -webkit-text-stroke: 0vh #383d52;
    border-bottom: 4px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate
{
    70%,90%
    {
        height: 0;
    }
    0%,10%,100%
    {
        height: 100%;
    }
}